{% extends 'bezoeker.html.twig' %}

{% block title %}Registreren{% endblock %}

{% block body %}
    <h1 class="text-success mb-4">Registreren</h1>

    {{ form_start(registrationForm,{'attr': {'novalidate':'novalidate'}}) }}
    <span class="text-danger">
        {{ form_errors(registrationForm) }}
    </span>
    {{ form_widget(registrationForm) }}
    <input type="submit" class="form-control btn btn-success" value="Registreren">
    {{ form_end(registrationForm) }}
{% endblock %}
