html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.nav a {
    text-decoration: underline;
}

.container-nav, .container-header, .container-95 {
    width: 95% !important;
}

.container-nav {
    margin: 0 auto !important;
}

.container-header hr {
    margin: 0.5% 0 0 0 !important;
    clear: both !important;
}

.container-header {
    margin: 1% auto 0 auto !important;
}

.container-header > h1 {
    font-family: 'Archivo Black', sans-serif !important;
    margin-left: 2%;
}

.img_banner img {
    width: 80%;
    max-height: 250px;
    margin: 0 10px;
}

.img_banner {
    display: flex;
}

@media all and (max-width: 600px) {
    .img_banner {
        display: none;
    }
    .w-75{
        width: 100% !important;
    }
    .td_desc{
        display: none;
    }
}

@media all and (max-width: 1000px) {
    .container-header img{
        display: none;
    }
}

textarea {
    min-height: 50px !important;
}

footer {
    clear: both;
    position: relative;
    height: 80px;
    margin-top: auto;
}

ol{

}