{% extends "base.html.twig" %}

{% block stylesheets %}

    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/contact.css') }}">


{% endblock %}

{% block title %}
    Kontact en Locatie
{% endblock %}

{% block body %}

    {#    TODO: Fill in with correct data#}

    <h4 class="text-primary">Contact</h4>
    <dl>
        <dt>Email</dt>
        <dd>info@training_factory.com</dd>
        <dt>Telefoon</dt>
        <dd class="mb-0">070 3521848</dd>
        <dd class="text-muted">Ma-Za: 10:00 tot 22:00 Zo: 12:00 tot 16:00</dd>
    </dl>

    <h4 class="text-primary">Locatie</h4>
    <a href="https://www.google.nl/maps/place/Fit+For+Free+Sportschool+Den+Haag+Loosduinseweg/@52.0715307,4.2840098,17z/data=!4m5!3m4!1s0x47c5b0d5e983cb87:0x1e18ff2e6d4a74aa!8m2!3d52.0715307!4d4.2862092"
       target="_blank">Loosduinseweg 627, 2571 AK Den Haag</a>


{% endblock %}