{% extends "base.html.twig" %}

{% block title %}
    Training Aanbod
{% endblock %}

{% block body %}

    <h4 class="text-primary">Trainingen</h4>

            {% for training in trainings %}
                <h4>{{ training.name }}</h4>
                <p class="td_desc">{{ training.description }}</p>
                <p><span class="font-weight-bold">Lengte:</span> {{ training.duration }} minuten</p>
                <p><span class="font-weight-bold">Kosten:</span> {% if training.costs %}&euro;{{ training.costs }}{% else %}Gratis{% endif %}</p>
                <hr>
            {% endfor %}



{% endblock %}