{% extends "base.html.twig" %}

{% block body %}

    <div class="container container-95 border m-auto p-3">

        <div class="container-95 p-3 m-auto">
            <div class="row justify-content-center img_banner">
                <img class="col-4" src="{{ asset('img/banner1.jpg') }}">
                <img class="col-4" src="{{ asset('img/banner2.jpg') }}">
                <img class="col-4" src="{{ asset('img/banner3.jpg') }}">
            </div>
        </div>

        <div class="container  w-75 m-auto p-4">
            <h3 class="text-primary  font-weight-bold">Welkom bij Trainings Centrum Den Haag</h3>
            <p>Den Haag Training Center is een sportschool waar onder professionele begeleiding in een veilige omgeving
                verschillende soorten martial arts-, indoor bootcamp,
                personal- en small group trainingen worden aangeboden. Hier kan je je inschrijven op een les of
                uitschrijven op een les.</p>
        </div>

    </div>

{% endblock %}
