{% extends "bezoeker.html.twig" %}

{% block body %}


    <h3 class="text-secondary  font-weight-bold">Welkom bij Trainings Centrum Den Haag</h3>
    <p>Den Haag Training Center is een sportschool waar onder professionele begeleiding in een veilige omgeving
        verschillende soorten martial arts-, indoor bootcamp,
        personal- en small group trainingen worden aangeboden. Hier kan je je inschrijven op een les of
        uitschrijven op een les.</p>

{% endblock %}