{% extends "bezoeker.html.twig" %}

{% block title %}
    Lessen
{% endblock %}

{% block body %}
    <h1 class="text-secondary">Oeps! Er ging iets mis probeer het nog eens</h1>
    <a href="{{ path('home') }}">Home pagina</a>
{% endblock %}