{% extends 'bezoeker.html.twig' %}

{% block title %}
Inloggen
{% endblock %}

{% block body %}

    <h2 class="mb-3">Inloggen</h2>

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form method="post">
        <div class="form-group">
            <input type="text" class="form-control" name="email" placeholder="Username" value="">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password" value="">
        </div>
        <div class="custom-control custom-checkbox mb-3">
            <input type="checkbox" class="custom-control-input" id="customCheck1" value="remember-me">
            <label class="custom-control-label" for="customCheck1">Ingelogd blijven</label>
        </div>
            <button type="submit" class="btn btn-secondary">Log in</button>
            <a href="#" class="btn btn-secondary">Reset ww</a>
    </form>
    </div>

{% endblock %}
