{% extends 'base.html.twig' %}

{% block body %}

    {% if error %}
        <span class="text-danger">{{ error.messageKey }}</span>
    {% endif %}

    <form action="{{ path('login') }}" method="post" class="">
        <div class="form-group">
            <input type="text" class="form-control" name="_username" placeholder="Username" value="">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="_password" placeholder="Password" value="">
        </div>
            <button type="submit" class="btn btn-primary">Log in</button>
            <a href="#" class="btn btn-primary">Reset ww</a>
    </form>
    </div>

{% endblock %}
